.st0,
.st1,
.st2 {
  stroke: #2c3233;
  stroke-linecap: round;
  stroke-width: 2; }

.st0,
.st2 {
  fill: none; }

.st0,
.st1 {
  stroke-linejoin: round; }

.st1 {
  fill: #d6cfc3; }

.st4 {
  fill: #d6cfc3; }

.col1 {
  fill: #e8e8eb; }

.col2 {
  fill: #cc9062; }

.col3 {
  fill: #664752; }

.col4 {
  fill: #5c7999; }

.col5 {
  fill: #d6cfc3; }

.col6 {
  fill: #2c3233; }

.bird {
  opacity: 0; }

.stars {
  opacity: 0; }

.lines {
  opacity: 0; }

.hidden {
  display: none; }

body {
  background-color: #d6cfc3;
  font-family: 'Bevan', cursive; }

header {
  background-color: #d6cfc3;
  padding: 10px;
  text-align: center; }

footer {
  text-align: center; }

li {
  display: inline;
  padding-left: 15px;
  text-transform: uppercase; }
  li:before {
    content: ' * ';
    padding-right: 15px; }
  li:first-child:before {
    content: none; }

h1,
h2 {
  color: #2c3233;
  font-family: 'Wire One', sans-serif;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

h3 {
  color: #2c3233;
  font-family: 'Bevan', cursive;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 50%; }
  h3:before, h3:after {
    background-color: #2c3233;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%; }
  h3:before {
    margin-left: -50%;
    right: .5em; }
  h3:after {
    left: .5em;
    margin-right: -50%; }

a {
  color: #2c3233;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.container {
  margin: 0 auto;
  max-width: 800px; }

.mainimg {
  max-height: 70vh; }

.logo {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dashed #2c3233;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 150px; }
